:root {
    font-size: 16px;
    --selected-icon-bg-color: #dfdfdf;
}

body {
    font-family: "UncommonS";
    background-color: #ffcbaf !important;
}

.invite-overlay {
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 300px;
    position: fixed;
    max-width: 500px;
    min-width: 350px;
    z-index: 101;
    display: none;
    flex-flow: column;
    font-size: 1.4rem;
    border-radius: 3rem;
    line-height: 1.2;
    padding: 2rem;
    overflow-y: scroll;
}

.invite-overlay.active {
    display: flex !important;
}

.copy-url {
    color: #fff;
    border-radius: 3rem;
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
    padding: 0.2rem 0.2rem;
    background-color: red;
}


.read-more {
    color: blue !important;
    text-decoration: underline;
    margin-bottom: 3rem ;
    display: block;
}

.info__overlay {
    position: fixed;
    text-align: left;
    height: 100vh;
    overflow: scroll;
    line-height: 1.4rem!important;
    width: 50vw;
    transition: all 0.3s ease-in-out;
    top: 0;
    transform: translateY(100vh);
    padding: 1rem;
    z-index: 100;
    max-width: none;
    font-size: 1.4rem;
    right: 0;
    background-color: #fff;
}

.info__overlay p,
.info__overlay h1,
.info__overlay h2 {
    font-size: 1.4rem;
    max-width: 50vw;
    margin-bottom: 1rem;
}

.info__overlay.active {
    transform: translateY(0);
}

.info {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 300;
    font-size: 1.4rem;
    border-radius: 100%;
    cursor: pointer;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0 ease-in-out;
}

.info.active {
    background-color: red;
    color: #fff;
}

.btn-group button {
    font-size: 1.4rem !important;
    height: fit-content !important;
    padding: 0.8rem 1rem 0.6rem !important;
    line-height: 1.2rem !important;
    border-radius: 3rem !important;
}

.home {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 100;
    font-size: 1.4rem !important;
    height: fit-content !important;
    padding: 0.8rem 1rem 0.6rem !important;
    line-height: 1.2rem !important;
    border-radius: 3rem !important;
    border-radius: 3rem;
    cursor: pointer;
    background-color: #fff;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.sessions {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.4rem !important;
    height: fit-content !important;
    padding: 0.8rem 1rem 0.6rem !important;
    line-height: 1.2rem !important;
    border-radius: 3rem !important;
    z-index: 100;
    padding: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.info span {
    position: absolute;
    margin-top: 0.4rem;
}

.info:hover,
.home:hover,
.sessions:hover {
    background-color: red;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

.whiteboard-tool.active:not(:disabled) {
    background-color: #000 !important;
    color: #fff !important;
}

.peers i {
    font-style: normal !important;
    color: red;
}

.room__title {
    font-size: 1.4rem !important;
    pointer-events: none;
    font-weight: normal !important;
}

.sizer {
    height: 3rem !important;
}

#toolbar {
    display: flex;
    align-items: center;
    top: 0.8rem !important;
    left: 1rem !important;
}

#whiteboardColorpicker {
    border-radius: 100% !important;
    width: 2.5rem !important;
    top: 0.2rem !important;
    height: 2.5rem !important;
    border: none !important;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#whiteboardThicknessSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000; /* Green background */
    border-radius: 100%;
    cursor: pointer; /* Cursor on hover */
}

#whiteboardThicknessSlider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 100%;
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.align-center {
    text-align: center;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
}

.align-center p {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-invite {
    font-size: 1.4rem;
    background-color: #fff;
    border-radius: 3rem;
    position: absolute;
    z-index: 100;
    bottom: 1rem;
    cursor: pointer;
    width: fit-content;
    left: 1rem;
    cursor: pointer;
    line-height: 1.2rem;
    padding: 0.8rem 1rem 0.6rem;
}

.btn-invite.active {
    background-color: red;
    color: #fff;
}
.peers {
    font-size: 1.4rem;

    padding: 0;
    /* width: 100vw; */
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    margin: 0 auto;
    bottom: 1rem;
    border-radius: 3rem;
}

body {
    position: relative;
    margin: 0px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
    font-family: "UncommonS", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial,
        sans-serif;
}

.close-start {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.room__title {
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    font-weight: 700;
    pointer-events: none;
    font-size: 1.4rem;
    top: 1.5rem;
}

.rooms {
    width: 50%;
}

.rooms a {
    background-color: #fff;
    color: #000;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
}

.whiteboard-tool,
.time-keeper,
.sizer {
    display: none;
}

.sizer .activeToolIcon {
    opacity: 0 !important;
    pointer-events: none;
}

#saveAsImageBtn {
    position: fixed;
    right: 1rem;
    display: none;
}

#addImgToCanvasBtn {
    background-color: #fff;
}

#addImgToCanvasBtn,
.addImgToCanvasBtn,
#uploadJsonBtn {
    display: none;
}

#saveAsJSONBtn {
    display: none !important;
}

#shareWhiteboardBtn {
    display: none !important;
}

.tool-active,
.active-tool {
    display: block !important;
}

#whiteboardContainer {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}

#CV_TICKER {
    font-family: "UncommonS", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial,
        sans-serif;
}

#whiteboardUnlockBtn,
#displayWhiteboardInfoBtn,
.minGroup,
#whiteboardTrashBtn,
.hide-tool {
    display: none !important;
}

.about__trigger {
    position: fixed;
    right: 1rem;
    z-index: 10000;
    cursor: pointer;
    background-color: #fff;
    top: 1rem;
    border-radius: 5px;
    /* height: 45px; */
    padding: 10px 20px 8px;
    transition: all 0.3s ease-in-out;
}

.about__trigger:hover {
    padding: 10px 20px 8px;
}

.about__area {
    z-index: 1000;
    width: 50vw;
    position: fixed;
    right: 0;
    line-height: 1;
    padding: 2rem 1rem 1.5rem;
    background-color: #fff;
    font-size: 1.4rem;
    height: 100vh;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.about__area.active {
    transform: translateX(0);
}

iframe {
    background-color: #fff;
    left: 0 !important;
}

iframe:before {
    content: "Chat";
}

.init {
    position: fixed;
    width: 100vw;
    font-size: 1.4rem;
    top: 0vh;
    border-radius: 5px;
    margin-left: 0vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: center;
    z-index: 10000;
    overflow: hidden;
    background-color: #ffbe9e;
    /* cursor: pointer;*/
    transition: all 0.3s;
}

.init.active {
    opacity: 0;
    pointer-events: none;
}

.init p {
    padding: 0 5rem;
}

.btn-group button {
    background: transparent;
    border-radius: 5px;
    font-family: "UncommonS", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica;
    margin: -1px;
    /* Green border */
    color: black;
    /* White text */
    padding: 11px 14px;
    /* Some padding */
    border: none;
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

@media (max-device-width: 1024px) {
    .btn-group button {
        font-size: 18px;
        height: 135px;
    }

    .minGroup {
        width: 80px;
    }
}

@media (min-device-width: 1024px) {
    .btn-group button {
        font-size: 18px;
        height: 45px;
    }

    .minGroup {
        width: 25px;
    }
}

button::-moz-focus-inner {
    border: 0;
}

.whiteboard-edit-group.group-disabled {
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 166, 0, 0.366),
        rgba(255, 166, 0, 0.366) 10px,
        rgba(255, 166, 0, 0.666) 10px,
        rgba(255, 166, 0, 0.666) 20px
    );
}

/*
 * Deactivate all pointer events on all the children
 * of a group when it's disabled.
 */
.whiteboard-edit-group.group-disabled > * {
    pointer-events: none;
}

/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */

.btn-group button:hover {
    /*background-color: #9a9a9a;*/
}

#toolbar {
    position: fixed !important;
}

button {
    outline-width: 0;
    font-family: "UncommonS";
    border: none;
}

.btn-group {
    margin-bottom: 5px;
    float: left;
    position: relative;
}

.whiteboard-tool.active:not(:disabled) {
    background: #fff;
}

#whiteboardThicknessSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.textBox.active {
    border: 1px dashed gray;
}

.textBox > .removeIcon,
.textBox > .moveIcon {
    display: none;
}

.textBox.active > .removeIcon,
.textBox.active > .moveIcon {
    display: block;
}

.stickyNote {
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    overflow-y: auto;
}

.modalBtn {
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    min-width: 50px;
    cursor: pointer;
}

#whiteboardUndoBtn,
#whiteboardRedoBtn {
    background-color: #ddd;
}

#whiteboardRedoBtn {
    margin-left: 1rem;
}

#displayWhiteboardInfoBtn.active {
    background: var(--selected-icon-bg-color);
}

#whiteboardInfoContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#whiteboardInfoContainer p {
    margin: 0;
}

.displayNone {
    display: none;
}

#shareWhiteboardDialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.35);
    z-index: 10000000000000;
    position: absolute;
    top: 0;
    left: 0;
}

#shareWhiteboardDialogMessage {
    background-color: lightgreen;
    padding: 20px;
    font-weight: bold;
}

.shareWhiteboardDialogContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.shareWhiteboardDialogItem {
    padding: 5px;
    margin: 5px;
}
